<%= render 'shared/navbar' %>
<div class="profile-page">
    <div class="profile-container">
        <div class="profile-header">
            <h1 class="profile-title"><%= current_user.username %>'s Profile</h1>
            <div class="profile-buttons">
                <% if current_user.steam_user.present? %>
                    <%= button_to "Disconnect Steam", disconnect_steam_profile_path, method: :delete, class: "delete-button", data: { turbo: false } %>
                <% end %>
                <% if current_user.spotify_user.present? %>
                    <%= button_to "Disconnect Spotify", disconnect_spotify_profile_path, method: :delete, class: "delete-button", data: { turbo: false } %>
                <% end %>
                <%= button_to "Delete Account", destroy_account_profile_path, method: :delete, class: "delete-button", data: { turbo: false, confirm: "Are you sure you want to delete your account? This cannot be undone." } %>
            </div>
        </div>

        <hr>
        
        <div class="profile-content">

        </div>
    </div>
</div>
