<div class="background">
  <div class="register-box">
    <div class="flex mb-6">
      <%= link_to 'Log in', login_path, class: 'flex-1 py-2 text-center font-bold border-b-2 border-blue-500 cursor-pointer' %>
      <%= link_to 'Register', register_path, class: 'flex-1 py-2 text-center font-bold border-b-2 cursor-pointer' %>
    </div>
    <div id="loginForm">
      <%= form_with model: @user, url: login_path, local: true do |form| %>
        <div>
          <%= form.label :email %>
          <%= form.email_field :email, class: "input-box" %>
        </div>
        <div>
          <%= form.label :password %>
          <%= form.password_field :password, class: "input-box" %>
        </div>
        <div>
          <%= form.submit "Log in", class: "btn-primary" %>
        </div>
      <% end %>
    </div> 
    <% flash.each do |key, value| %>
      <div class="<%= key %>"><%= value %></div>
    <% end %>
  </div>
</div>