<div class="music-comparison-section">    
    <div class="top-music-showcase">
        <h2 class="mb-2">Top Artists Comparison</h2>
        <div class="top-user-artists-section">
            <div class="user1-top-artists">
                <h3 class="user-top-artists-header"><%= @user1.username %>'s Top Artists</h3>
                <div class="artists-list">
                    <% @top_artists_user1.each_with_index do |artist, idx| %>
                        <div class="artist-list-item">
                            <span class="artist-list-index"><%= idx + 1 %></span>
                            <img src="<%= artist.image_url %>" alt="<%= artist.name %>" class="comparison-artist-image"/>
                            <span class="artist-list-name"><%= artist.name %></span>
                        </div>
                    <% end %>
                </div>
            </div>
            <div class="user2-top-artists">
                <h3 class="user-top-artists-header"><%= @user2.username %>'s Top Artists</h3>
                <div class="artists-list">
                    <% @top_artists_user2.each_with_index do |artist, idx| %>
                        <div class="artist-list-item">
                            <span class="artist-list-index"><%= idx + 1 %></span>
                            <img src="<%= artist.image_url %>" alt="<%= artist.name %>" class="comparison-artist-image"/>
                            <span class="artist-list-name"><%= artist.name %></span>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
        <div class="top-user-tracks-section mt-6">
            <div class="user1-top-tracks">
                <h3 class="user-top-artists-header"><%= @user1.username %>'s Top Tracks</h3>
                <div class="tracks-list">
                    <% @top_tracks_user1.each_with_index do |track, idx| %>
                        <div class="track-list-item">
                            <span class="track-list-index"><%= idx + 1 %></span>
                            <img src="<%= track.image_url %>" alt="<%= track.artist_name %>" class="comparison-track-image"/>
                            <span class="track-list-name"><%= track.name %></span>
                            <span class="track-list-artist"><%= track.artist_name %></span>
                        </div>
                    <% end %>
                </div>
            </div>
            <div class="user2-top-tracks">
                <h3 class="user-top-artists-header"><%= @user2.username %>'s Top Tracks</h3>
                <div class="tracks-list">
                    <% @top_tracks_user2.each_with_index do |track, idx| %>
                        <div class="track-list-item">
                            <span class="track-list-index"><%= idx + 1 %></span>
                            <img src="<%= track.image_url %>" alt="<%= track.artist_name %>" class="comparison-track-image"/>
                            <span class="track-list-name"><%= track.name %></span>
                            <span class="track-list-artist"><%= track.artist_name %></span>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
    <div class="common-music-showcase">
        <h1 class="mb-2">Compatibility Score: <%= @music_compatibility_score * 100 %>%</h1>
        <div class="common-artists-section">
            <h2 class="comparison-section-header">In Common Top Artists</h2>
            <div class="common-artists-list">
                <% @common_artists.first(6).each do |artist| %>
                    <div class="common-artist-item">
                        <img src="<%= artist[:image_url] %>" alt="<%= artist[:name] %>" class="common-artist-image"/>
                        <span class="common-artist-name"><%= artist[:name] %></span>
                    </div>
                <% end %>
            </div>
        </div>
        <div class="common-tracks-section mt-4">
            <h2 class="comparison-section-header">In Common Top Tracks</h2>
            <div class="common-tracks-list">
                <% @common_tracks.first(10).each do |track| %>
                    <div class="common-track-item">
                        <img src="<%= track[:image_url] %>" alt="<%= track[:name] %>" class="comparison-track-image"/>
                        <span class="common-track-name"><%= track[:name] %> by <%= track[:artist_name] %></span>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>