<div class="steam-user-info">
    <div class="steam-user-info-header">
        <img src="<%= current_user.steam_user.profile_image_url %>" alt="Steam Avatar" class="steam-avatar">

        <div class="steam-info-columns">
            <div class="steam-info-labels">
                <p>Name:</p>
                <p>Level:</p>
                <p>Last Log Off:</p>
                <p>Country:</p>
                <p>Date Created:</p>
            </div>

            <div class="steam-info-values">
                <p><%= current_user.steam_user.name %></p>
                <p><%= current_user.steam_user.user_level %></p>
                <p><%= Time.at(current_user.steam_user.last_log_off).strftime("%B %d, %Y") %></p>
                <p><%= current_user.steam_user.loc_country_code %></p>
                <p><%= Time.at(current_user.steam_user.time_created).strftime("%B %d, %Y") %></p>
            </div>
        </div>
        </div>

    <hr class="steam-divider">

    <div class="steam-user-stats">
        <h2 class="steam-user-stats-data">Total games: <%= current_user.steam_user.user_games.count %></h2>
        <h2 class="steam-user-stats-data">Total achievements:</h2>
        <h2 class="steam-user-stats-data">Total hours: <%= current_user.steam_user.user_games.total_playtime_hours %></h2>
    </div>
</div>