<%= render 'shared/navbar' %>
<div class="stat-content">
    <div class="spotify-stats">
        <% if @spotify_user.blank? %>
            <div class="api-connect">
                <button id="open-spotify-warning-button" class="spotify-button">
                    Sign in with Spotify
                </button>
            </div>
            <div id="spotify-warning-overlay" class="warning-overlay">
                <div id="spotify-data-warning" class="data-warning">
                    <p>
                        If you click "OK" you are agreeing that SpotSteam will access your spotify data and save it in our database for other users to see.
                        You will be able to delete your spotify data from our database at any time from profile.
                    </p>

                    <div class="warning-buttons">
                        <button id="spotify-warning-button-cancel" class="warning-button-cancel">Cancel</button>
                        <button id="spotify-warning-button-ok" class="warning-button">OK</button>
                    </div>
                </div>
            </div>
        <% else %>
            <div class="top-section-buttons">
                <button id="top-artist-button" class="stats-switch-button">Top Artists</button>
                <button id="top-song-button" class="stats-switch-button">Top Songs</button>
                <button id="update-spotify-data-button" class="update-button">
                    <%= link_to "Update spotify", "/auth/spotify" %>
                </button>
            </div>
            <div class="top-artists-section">
                <%= render 'top_artist_section' %>
            </div>
            <div class="top-songs-section" style="display: none;">
                <%= render 'top_song_section' %>
            </div>
        <% end %>
    </div>
    <div class="steam-stats">
        <% if @steam_user.blank? %>
            <div class="api-connect">
                <button id="open-steam-warning-button" class="steam-button">
                    Sign in with Steam
                </button>
            </div>
            <div id="steam-warning-overlay" class="warning-overlay">
                <div id="steam-data-warning" class="data-warning">
                    <p>
                        If you click "OK" you are agreeing that SpotSteam will access your steam data and save it in our database for other users to see.
                        You will be able to delete your steam data from our database at any time from profile.
                    </p>

                    <div class="warning-buttons">
                        <button id="steam-warning-button-cancel" class="warning-button-cancel">Cancel</button>
                        <button id="steam-warning-button-ok" class="warning-button">OK</button>
                    </div>
                </div>
            </div>
        <% else %>
            <div class="top-section-buttons">
                <button id="user-info-button" class="stats-switch-button">User info</button>
                <button id="games-info-button" class="stats-switch-button">Games info</button>
                <button id="update-spotify-data-button" class="update-button">
                    <%= link_to "Update steam", "/auth/steam" %>
                </button>
            </div>
            <div class="user-info-section">
                <%= render 'user_info_section' %>
            </div>
            <div class="games-info-section" style="display: none;">
                <%= render 'games_info_section', games: @steam_user_games %>
            </div>
        <% end %>
    </div>
    <% if flash[:notice].present? %>
      <div class="flash-messages">
        <div class="notice"><%= flash[:notice] %></div>
      </div>
    <% end %>
    <% if flash[:alert].present? %>
      <div class="flash-messages">
        <div class="alert"><%= flash[:alert] %></div>
      </div>
    <% end %>
</div>
<script type="text/javascript">
    document.addEventListener("turbo:load", () => {
        const overlay = document.getElementById("spotify-warning-overlay");
        const openBtn = document.getElementById("open-spotify-warning-button");
        const cancelBtn = document.getElementById("spotify-warning-button-cancel");
        const okBtn = document.getElementById("spotify-warning-button-ok");

        openBtn.addEventListener("click", () => {
            overlay.style.display = "flex";
        });

        cancelBtn.addEventListener("click", () => {
            overlay.style.display = "none";
        });

        okBtn.addEventListener("click", () => {
            window.location.href = "/auth/spotify";
        });
    });

    document.addEventListener("turbo:load", () => {
        const overlay = document.getElementById("steam-warning-overlay");
        const openBtn = document.getElementById("open-steam-warning-button");
        const cancelBtn = document.getElementById("steam-warning-button-cancel");
        const okBtn = document.getElementById("steam-warning-button-ok");

        openBtn.addEventListener("click", () => {
            overlay.style.display = "flex";
        });

        cancelBtn.addEventListener("click", () => {
            overlay.style.display = "none";
        });

        okBtn.addEventListener("click", () => {
            window.location.href = "/auth/steam";
        });
    });

    document.addEventListener("turbo:load", () => {
        const artistSection = document.querySelector(".top-artists-section");
        const songSection = document.querySelector(".top-songs-section");
        const artistButton = document.getElementById("top-artist-button");
        const songButton = document.getElementById("top-song-button");

        const selectDefaultTab = (section, defaultTarget) => {
            const defaultButton = section.querySelector(`.time-range-button[data-target="${defaultTarget}"]`);
            if (defaultButton) {
                defaultButton.click();
            }
        };

        artistButton.addEventListener("click", () => {
            artistSection.style.display = "block";
            songSection.style.display = "none";
            selectDefaultTab(artistSection, "artist_last_year");
        });

        songButton.addEventListener("click", () => {
            songSection.style.display = "block";
            artistSection.style.display = "none";
            selectDefaultTab(songSection, "song_last_year");
        });
    });

    document.addEventListener("turbo:load", () => {
        const userInfoSection = document.querySelector(".user-info-section");
        const gamesInfoSection = document.querySelector(".games-info-section");
        const userInfoButton = document.getElementById("user-info-button");
        const gamesInfoButton = document.getElementById("games-info-button");

        userInfoButton.addEventListener("click", () => {
            userInfoSection.style.display = "block";
            gamesInfoSection.style.display = "none";
        });

        gamesInfoButton.addEventListener("click", () => {
            gamesInfoSection.style.display = "block";
            userInfoSection.style.display = "none";
        });
    });

    document.addEventListener("turbo:load", () => {
        const flash = document.querySelector(".flash-messages");
        if (flash) {
            setTimeout(() => {
            flash.style.transition = "opacity 0.5s";
            flash.style.opacity = "0";
            setTimeout(() => {
                flash.style.display = "none";
            }, 500);
            }, 3500);
        }
    });
</script>
