<%= render 'shared/navbar' %>
<div class="stat-content">
    <div class="spotify-stats">
        <div class="spotify-login">
            <% if session[:spotify_auth].blank? %>
                <%= link_to 'Sign in with Spotify', '/auth/spotify', method: :post, class: 'btn btn-primary' %>
            <% elsif session[:spotify_auth].present? %>
                <div class="artists-grid">
                    <% @top_artists_all_time.each do |artist| %>
                    <div class="artist-card">
                        <img src="<%= artist[:image] %>" alt="<%= artist[:name] %>" class="artist-image">
                        <p class="artist-name"><%= artist[:name] %></p>
                    </div>
                    <% end %>
                </div>
            <% end %>
        </div>
    </div>
    <div class="steam-stats">
        aa aa aa
    </div>
</div>